*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color:#fff;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  align-items: center;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card p{
  margin: 20px 0 0;
}

.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
;
} 
.card button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
